*,
*:before,
*:after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    height          : 100%;
    font-size       : 24px;
    /* line-height  : 16px; */
    line-height     : 1.5;
    color           : #000;
    background-color: white;
}

.container {
    width  : 1300px;
    margin : 0px auto;
    padding: 10px 15px;
}

header,
footer {
    height  : 100px;
    grid-row: 1/1;
}

.header-differences {
    background-color: rgb(231, 60, 60);
}

nav p {
    padding: 20px 30px;
}

.content {
    width                : 100%;
    height               : 600px;
    padding              : 30px 0 30px 0;
    display              : grid;
    column-gap           : 30px;
    grid-template-columns: 1fr 3fr;
}

aside {
    background-color: rgb(255, 242, 53);
}

aside p {
    padding: 20px 0px 0 20px;
}

.content__items {
    display              : grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows   : 2fr 2fr;
    grid-row-gap         : 30px;
}

.content__item:nth-child(1) {
    margin-right    : 30px;
    padding         : 80px 0px 0px 90px;
    background-color: rgb(67, 160, 55);
}


.content__item:nth-child(2) {
    padding         : 80px 0px 0px 120px;
    background-color: rgb(139, 167, 243);
}

.content__item:nth-child(3) {
    grid-row        : 2/4;
    grid-column     : 1/4;
    padding         : 120px 0px 0px 120px;
    background-color: pink;
}

.footer-differences {
    padding         : 20px 0px 0px 100px;
    background-color: rgb(119, 63, 116);
}