html, body {
  height          : 100%;

  background-color: white;
  
  font-size       : 24px;
  line-height     : 1.5;
  color           : #000;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height    : 100%;
  display       : flex;
  flex-direction: column;
}

.container {
  width  : 1300px;
  padding: 10px 15px;
  margin : 0px auto;
}


.nav, .footer {
  max-width: 100%;
  height   : 80px;
}

.nav {
  background-color: brown;
}

.nav p {
  padding: 20px 30px;
}

.content {
  padding: 20px 0 35px 0;
}

.content__wrapper {
  display   : flex;
  width     : 100%;
  max-height: 100%;
  height    : 600px;
}

.aside {
  width       : 20%;
  margin-right: 30px;
}

.aside p {
  background-color: rgb(228, 218, 76);
  height          : 100%;
  padding         : 20px 0px 0 20px;
}

.content__blocks {
  width: 100%;
}

.blok-content__top {
  display       : flex;
  height        : 50%;
  width         : 100%;
  padding-bottom: 30px;
}

.blok-content--one {
  background-color: rgb(3, 151, 60);
  width           : 40%;
  margin-right    : 30px;
}

.blok-content--one p {
  padding         : 80px 0px 0px 90px;
}

.blok-content--two {
  width           : 60%;
  background-color: rgb(19, 188, 255);
}

.blok-content--two p {
  padding         : 80px 0px 0px 120px;
}

.blok-content__bottom {
  width : 100%;
  height: 50%;
}

.blok-content--three {
  background-color: rgb(248, 176, 255);
  width           : 100%;
  height          : 100%;
}

.blok-content--three p{
  padding         : 140px 0px 0px 160px;
}

.footer-differences {
  background-color: purple;
}

.footer p { 
  padding         : 20px 0px 0px 100px;
}
