*,
*:before,
*:after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    height          : 100%;
    font-size       : 24px;
    /* line-height  : 16px; */
    line-height     : 1.5;
    color           : #000;
    background-color: white;
}

.container {
    width  : 1300px;
    margin : 0px auto;
    padding: 10px 15px;
}

header,
footer {
    max-width: 100%;
    height   : 80px;
}

.header-differences {
    background-color: rgb(236, 85, 85);
}

nav p {
    padding: 20px 30px;
}

.content {
    height : 600px;
    padding: 20px 0 35px 0;
}

aside {
    width           : 300px;
    height          : 600px;
    margin-right    : 30px;
    padding         : 20px 0px 0 20px;
    position        : relative;
    display         : inline-block;
    background-color: rgba(255, 251, 0, 0.884);
}

.content__items {
    position: absolute;
    display : inline-block;
}

.content__item {
    display: inline-block;
}

.content__item:nth-child(1) {
    width           : 300px;
    height          : 250px;
    margin          : 0 30px 30px 0;
    padding         : 80px 0px 0px 90px;
    background-color: rgb(80, 151, 104);
}

.content__item:nth-child(2) {
    width           : 600px;
    height          : 250px;
    margin-bottom   : 30px;
    padding         : 80px 0px 0px 120px;
    background-color: rgb(109, 144, 219);
}

.content__item:nth-child(3) {
    width           : 100%;
    height          : 310px;
    padding         : 140px 0px 0px 160px;
    display         : block;
    background-color: rgba(253, 170, 212, 0.959);
}

.footer-differences {
    position        : relative;
    top             : 40px;
    background-color: rgb(107, 49, 112);
}