*,
*:before,
*:after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    font-size       : 24px;
    /* line-height  : 16px; */
    line-height     : 1.5;
    color           : #000;
    height          : 100%;
}

.container {
    width  : 1300px;
    padding: 10px 15px;
    margin : 0px auto;
}


.nav,
.footer {
    max-width: 100%;
    height   : 80px;
}

.nav-differences {
    background-color: brown;
    margin-bottom: 30px;
}

.aside {
    float: left;
    height: 600px;
    width: 30%;
    background-color: aqua;
   margin-right: 30px;
}


.nav p {
    padding: 20px 30px;
}

.content {
    padding : 20px 0 35px 0;
    width: 70%;
    display: inline;
}

.content__texts {
    /* display: inline-block; */
    /* width: 70%; */
}

.content__text {
    /* display: inline-block; */
}

.content__text--one {
    width: 30%;
background-color: aquamarine;
}
.content__text--two {
    width: 40%;
    background-color: chocolate;
    float: right;
}
.content__text--three {
}